@font-face {
  font-family: 'NanumAInMamSonGeurSsi';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumAInMamSonGeurSsi/NanumAInMamSonGeurSsi.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumAInMamSonGeurSsi/NanumAInMamSonGeurSsi.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumAInMamSonGeurSsi/NanumAInMamSonGeurSsi.ttf') format('truetype');
}